<?xml version="1.0"?>
<launch>
    <!-- Run the yolo_detection_node -->
    <node name="yolo_detection_node" pkg="ros_ml" type="yolo_detection_node.py" output="screen">
        <!-- The YOLO detection input image topic -->
        <param name="yolo_input_image_topic" value="/image_rectifier_node/image_rect/compressed" />

        <!-- The rotation [0, 1, 2, 3] <_> [0, 90, 180, 270] -->
        <param name="rotation" value="0" />

        <!-- The YOLO detection image topics -->
        <param name="yolo_image_mod_0_topic" value="yolo_detection_mod_0_image" />
        <param name="yolo_image_mod_1_topic" value="yolo_detection_mod_1_image" />
        <param name="yolo_image_mod_2_topic" value="yolo_detection_mod_2_image" />
        <param name="yolo_image_mod_3_topic" value="yolo_detection_mod_3_image" />

        <!-- The YOLO detection result topics -->
        <param name="yolo_result_mod_0_topic" value="yolo_detection_mod_0_result" />
        <param name="yolo_result_mod_1_topic" value="yolo_detection_mod_1_result" />
        <param name="yolo_result_mod_2_topic" value="yolo_detection_mod_2_result" />
        <param name="yolo_result_mod_3_topic" value="yolo_detection_mod_3_result" />
    </node>
</launch>
